@keyframes activeElectionGlow {
  0% {
    stroke-opacity: 0.75;
  }

  50% {
    stroke-opacity: 0;
  }

  100% {
    stroke-opacity: 0.75;
  }
}

.leaflet-container path.election-status-active {
  /*will-change: stroke-opacity transform;*/
  /*transform: translateZ(0);*/
  /*stroke: red;*/
  /*stroke-opacity: 0.5;*/
  /*animation-name: activeElectionGlow;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;*/
}

.leaflet-container path.election-status-inactive {
  /*stroke: black;*/
  /*stroke-dasharray: 10, 30*/
}
