@import 'normalize.css';

/* Base styles */
@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/elements';
@import 'styles/base/util';
@import 'styles/base/theme';
@import 'styles/base/type';

/* Candidates for component styles */
@import 'styles/base/layout';
@import 'styles/base/image';

/* Component styles */
.leaflet-container {
  height: 100%;
  margin: 0 auto;
}

.sidebar-content {
  overflow: scroll !important;
  cursor: text;
}

@keyframes notificationBlink {
  0% { opacity: 0; }
  50% { opacity: 1.0; }
  100% { opacity: 0; }
}

.notification-blink {
  animation-name: notificationBlink;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-duration: 0.5s;
}

#profile-load-notification {
  position: absolute;
  display: block;
  opacity: 0;
  margin-top: -20px;
  margin-left: 20px;
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

/* For Rep profiles: highlight the incumbent whose seat is up for reelection */
.seat-up-for-election {
  border-style: solid;
  border-color: red;
}

.election-winner {
  border-style: solid;
  border-color: lime;
}

.area-info {
    padding: 6px 8px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* branchOfGov/Layer control label */
.leaflet-control-layers-base:before {
  content: "Branch";
  font-weight: bold;
  font-size: 13px;
}
